<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @comment.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @comment.text %>
</p>

<p>
  <strong>Images:</strong>
  <%= @comment.images %>
</p>

<p>
  <strong>Publication:</strong>
  <%= @comment.publication %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
