<p id="notice"><%= notice %></p>

<h1>Publications</h1>
<%= search_form_for @q do |f| %>
  <%= f.label :region %>
  <%= f.select(:region_eq, [],{include_blank: 'All'},{ :class => 'region-selector'}) %>
  <%= f.submit %>
<% end %>
<div class="container">
  <div class="row">
    <% @publications.each do |publication| %>
      <div class="card mb-3 col-md-6" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-6">
              <%= image_tag(publication.images[0], :class=> 'images-index') %>  
            </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title"><%= link_to "#{publication.title}", publication_path(publication.id) %></h5>
              <p class="card-text"><%= publication.description.first(100) %></p>

            </div>
            <div class="stars">
              
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<br>

<% if current_user && current_user.admin? %>
  <%= link_to 'New Publication', new_publication_path %>
<%end%>