
  <p id="notice"><%= notice %></p>
 
  <h1 class="text-center my-5 destinos-index">Destinos</h1>

  <header class="row justify-content-center mb-5">
    <div class="my-3 col-md-4 text-center d-inline-block">
      <h5>Búsqueda por región</h5>
      <%= search_form_for @q do |f| %>
          <%= f.select(:region_eq, [],{include_blank: 'All'},{ :class => 'region-selector'}) %>
          <%= f.submit 'Buscar', :class => 'btn btn-info' %>
       <% end %>
    </div>
    
    <div class="my-3 col-md-4  d-inline-block text-center ">
      <h5>Búsqueda por categoría</h5>
      <%= search_form_for @q do |f| %>
          <%= f.select(:category_eq, ["Hoteleria", "Gastronomia", "Entretencion"],{include_blank: 'All'}) %>
          <%= f.submit 'Buscar', :class => 'btn btn-info'%>
      <%end%>
    </div>
  </header>
  
 
  
  <!-- card -->
  <div class="my-5 ">
    <div class="row mx-auto d-flex justify-content-center">
        <% @publications.each do |publication| %>
          <div class="card mb-3 col-md-6 mr-5 mb-5 pub-cards shadow">
            <div class="row no-gutters">
                <div class="col-md-6 justify-content-left">
                  <%= image_tag(publication.images[0], :class=> 'images-index') %>  
                </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title"><%= link_to "#{publication.title}", publication_path(publication.id) %></h5>
                  <p class="card-text"><%= publication.description.first(100) %></p>
    
                </div>
                <div class="stars">
                  
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div> 
    <br>
    
    <% if current_user && current_user.admin? %>
      <%= link_to 'New Publication', new_publication_path %>
    <%end%>
  </div>
  <div class=" my-4 p-5">
    <div class="d-flex justify-content-center">
        <%= paginate @publication %>
    </div>
  </div>


