<!-- SHOW PUBLICACION -->
<div class="container show-pub ">
  <p id="notice"><%= notice %></p>

  <h1 class="mb-5"><strong><%= @publication.title %> - Región <%= @publication.region %> </strong></h1>
  
  <div class="container">
    <% (0...@publication.images.count).each do |image| %>
      <%= image_tag(@publication.images[image], :class=> 'images-show') %>  
    <% end %>  
  
  </div>

  <div class="my-4">
    <h5><strong>Descripción:</strong></h5>
    <p><%= @publication.description %></p>
    
    <h5><strong>Categoría:</strong></h5>
    <p><%= @publication.category %></p>
    
    <h5><strong>Mapa:</strong></h5>
    <p><%= @publication.map %></p>
  

  </div>
 
</div>
  
<!-- COMENTARIOS DE PUBLICACION -->
<div class="container card-publication p-5 mt-5">
    <h4 id="comments-section"> Comentarios:</h4>
    <% if signed_in? %>
      <%= link_to 'Nuevo Comentario', new_comment_path %>
    <% end %>  
    <table class="table">
      <tbody>
        
        <% @comments.each do |comment| %>
          <% if comment.publication.id == @publication.id %>
            <tr>
              <td><%= comment.title %></td>
              <td><%= comment.text %></td>
              <td><%= comment.images %></td>
              <td><%= comment.publication.title %></td>
              <td><%= comment.publication.id %></td>
              <td><%= comment.user.name %></td>
              <td><%= link_to 'Show', comment %></td>
              <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
              <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    
    <% if current_user && current_user.admin? %>
      <%= link_to 'Edit', edit_publication_path(@publication) %> |
    <%end%>
    
    <%= link_to 'Back', publications_path %>
  
</div>
 