<header class="home-header">
  <div class="container">
    <div class="row header-content">
      <div class="col-md-6">
        <h1>Conoce todos los destinos accesibles para tí</h1>
        <h3 class="mb-5">Únete a esta comunidad y comparte tus experiencias</h3>
        <%= link_to "Registrate", new_user_registration_path, class: "btn btn-primary btn-lg"%>
        <%= link_to "Conocer más", '#about' , class: "ml-3 btn btn-success btn-lg"%>
      </div>
      <div class="col-md-6">
        <%= image_tag 'pareja-playa.jpg', class: 'img-portada' %>
      </div>
    </div>
  </div>
  
</header>

<section class="about"  id="about">
  <div class="container">
    <div class="row about-content">
      <div class="col-md-6">
        <img class = 'img-about' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnpsrqf-auo4RBFsSGFjaCrULChhlJWJs76esofbjqPiRXxYKwPTAwZAnCptYyBr0lhxM&usqp=CAU"
        alt="logo"/>
      </div>
      <div class="col-md-6">
        <h1 class="mb-5">Qué es Recreación Inclusiva?</h1>
        <h5 class="text-justify">
          Recreación Inclusiva es una plataforma diseñada para compartir experiencias de viajes y entretención a lo largo de Chile, con el fin de identificar todos los lugares accesibles para personas con problemas de movilidad.
        </h5>
        <br>
        <h5 class="text-justify">
          Nuestro objetivo es dar a conocer todo tipo de destinos: hoteles, bares, cafés, teatros, cines, ferias, parques, etc. Todo con la finalidad de que puedas tener una amplia gama de panoramas a los que puedas acceder sin problemas.
        </h5>
        <br>
        <h5 class="text-justify">
          Te invitamos a formar parte de esta comunidad y compartir tus propias experiencias!!!!!
        </h5>
        
      </div>
      
    </div>
  </div>
  
  
</section>

<main class="destinos">
  <div >
    <div class="text-center mb-5">
      <h1>Destinos</h1>
      <h2>¿Qué lugares quieres visitar?</h2>
  
    </div>

    <div class="buscadores">
      <div class="my-4 buscador-region">
        <h5>Búsqueda por región</h5>
        <%= search_form_for @q do |f| %>
          <%= f.select(:region_eq,[],{include_blank: 'All'},{ :class => 'region-selector'}) %> 
          <%= f.submit 'Buscar', :class =>  'btn btn-info' %> 
        <% end %>
      </div>
  
      <div class="my-3">
        <h5>Búsqueda por categoría</h5>
        <%= search_form_for @q do |f| %> 
          <%= f.select(:category_eq, ["Hoteleria", "Gastronomia", "Entretencion"],{include_blank: 'All'}) %> 
          <%= f.submit 'Buscar', :class => 'btn btn-info'%>
        <%end%>
      </div>
    </div>
   
  

    <%= render "shared/carousel-home" %>
  
</main>

<% if user_signed_in? %>
<section class="py-5 text-center container">
  <h1>Quieres recomendar un sitio??</h1>
  <%= link_to "Link a Formulario", recomendation_index_path, class: "btn
  btn-success" %>
</section>
<%end%>

<section class="py-5 text-center">
  <div class="shadow paypal">
    <h1>Ayúdanos a seguir creciendo</h1>
    <div id="donate-button-container" >
      <div id="donate-button" ></div>
      <script
        src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js"
        charset="UTF-8"
      ></script>
      <script>
        PayPal.Donation.Button({
          env: "production",
          hosted_button_id: "UMYVW69RC9N4S",
          image: {
            src: "https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif",
            alt: "Donate with PayPal button",
            title: "PayPal - The safer, easier way to pay online!",
          },
        }).render("#donate-button");
      </script>
    </div>
  </div>
 
</section>
