<div class="container mt-5">
    <%= form_with( local: true) do |form| %>  
    <div class="container w-50">
      
      <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
    
      <div class="field">
        <%= form.label :region %>
        <%= form.select(:region, [],{},{ :class => 'region-selector' }) %>
      </div>
    
      
    
      <div class="field">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control"  %>
      </div>
    
      <div class="field">
        <%= form.label :images %>
        <%= form.file_field :images, multiple: true, class: "form-control"  %>
      </div>
    
    
      <div class="field">
        <%= form.label :map %>
        <%= form.text_field :map, class: "form-control"  %>
      </div>
    
      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
    
    </div>
      
</div>
